## Exercise 00 : Load and save

**Import Library**

In [1]:
import pandas as pd

file_path = "../data/feed-views.log"

**The task is:**

- read_csv:
    - filter the rows with index 2 and 3 using the argument skiprows, we know that these observations were fake
    - filter the last 2 rows from the footer using the argument skipfooter, we know that these observations were fake too
    - assign the following names to the column: datetime, user
    - use datetime as the index column

In [2]:
df = pd.read_csv(
    file_path,
    skiprows=[2, 3],
    skipfooter=2,
    engine="python",
    delimiter="\t",
    header=None,
)
df.columns = ["datetime", "user"]
df.set_index("datetime", inplace=True)
display(df)

                                 user
datetime
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

- rename datetime to date_time

In [3]:
df = df.rename_axis("date_time")
display(df)

                                 user
date_time
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

- to_csv:
    - use ’;’ as the delimiter
    - save it to a file with the name feed-views-semicolon.log

In [4]:
export_file_path = "../data/feed-views-semicolon.log"
df.to_csv(export_file_path, sep=";")